{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h3 class="mt-4">Симетричне шифрування. Використання шифрів перестановки</h3>
</div>
<div class="container-fluid">
    <h4 class="mt-4">Шифр з одинарною перестановкою</h4>
    <form>
        <div class="form-group mb-3">
            <input type="text" class="form-control" id="textInput" placeholder="Введіть повідомлення">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
