{% load static %}
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light"><a href="{% url 'index' %}">Інформаційна Безпека</a></div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'lab1' %}">Лабораторна робота №1</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'lab2' %}">Лабораторна робота №2</a>
    </div>
</div>
