{% load static %}
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light"><a href="{% url 'index' %}">Інформаційна Безпека</a></div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'lab1' %}">Лабораторна робота №1</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'lab2' %}">Лабораторна робота №2</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'lab3' %}">Лабораторна робота №3</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'lab4' %}">Лабораторна робота №4</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'lab5' %}">Лабораторна робота №5</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'lab6' %}">Лабораторна робота №6</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'lab7' %}">Лабораторна робота №7</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'lab8' %}">Лабораторна робота №8</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'lab9' %}">Лабораторна робота №9</a>
    </div>
</div>
